
@media (prefers-reduced-motion: no-preference) {
  .animate-on-load {
    animation: fade-in 1s ease-out forwards;
  }
  .animate-duration-2s {
    animation-duration: 2s !important;
  }
    .animate-duration-3s {
    animation-duration: 3s !important;
    animation-timing-function: ease-in-out !important;
  }

  @supports (animation-timeline: view()) {
    .animate {
      animation-timeline: view();
      animation-range: 0 40%;
      animation-timing-function: ease-out;
      transform-origin: center top;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    .animate--fade-in {
      animation-name: fade-in;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate,
  .animate--fade-in,
  .fade-in-load {
    animation: none !important;
    opacity: 1;
  }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        translate: 0 -30px;
    }
}
