
@media (prefers-reduced-motion: no-preference) {
  .animate-on-load {
    animation: fade-in 1s ease-out forwards;
  }
    .animate-duration-3s {
    animation-duration: 3s !important;
    animation-timing-function: ease-in-out !important;
  }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        translate: 0 -30px;
    }
}
