@import "tailwindcss";
@import "ndt.css";

/* ndt.css classes */
/** Colors **/
:root {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default) !important;
}

.golden {
  color: var(--brand-gold);
}


.logo {
  min-width: calc(1rem + 2vw) !important;
  width: calc(2.75rem + 0.75vw) !important;
  height: auto !important;
  padding: 1rem 0rem 0.5rem 0.5rem !important;
}

.title {
  text-align: left !important;
}

.center {
  width: 100vw;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}