@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', sans-serif;
}

body {
  scroll-behavior: smooth;
}

.golden {
  color: 	var(--brand-gold-light);
}
.small-logo {
  width: 40px;
}
.brand {
  background-color: var(--brand-blue);
}

.left {
  display: flex !important;
  justify-content: left !important;
}
.bottom {
  display: flex !important;
  justify-content: bottom !important;
}
.center {
  width: 100vw;
  display: flex !important;
  justify-content: center !important;
}
